*{
    margin: 0%;
    padding: 0%;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.example::-webkit-scrollbar {
    display: none;
  }

body {
    background-image: url("./images/newWoodBackground2.jpg");
    background-size: 100%;
    height: auto;
  }

#main{
    padding: 4vh 0%;
    width: auto;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonContainer{
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    padding: 2vh 0%;
    width: 90vw;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.all-buttons{
    border: .5vh outset black;
    background-color: rgb(0,0,0);
    font-size: 2.5vh;
    width: 70vw;
    margin: 1vh auto;
    padding: 2.25vh 0%;
}

.section-buttons{
    width: 33vw;
    height: 12vh;
    margin: 1.5vh;
    font-size: 2.75vh;  
}

#backButtonDiv{
    display: flex;
}

.back-buttons{
    margin: 2vh;
    width: 40vw;
    height: 10vh;
    padding: 2%;
}

.info-section{
    margin: 0;
    width: 85%;
}

#photoDiv{
    display: flex;
    justify-content: center;
    border: 0;
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 35%;
    margin: 0;
    padding: 0%;
}

img{
    margin: 5% auto 0 auto;
    max-width: 100%;
    max-height: 90%;
}

#titleDiv{
    height: 5vh;
    display: flex;
    justify-content: center;
    border: .25vh inset black;
    background-color: rgb(0,0,0,0.6);
    padding: 1vh;
    font-size: 100%;
}

#infoDiv{
    height: 35vh;
    overflow: scroll;
    overflow-x: hidden;
}

.sections{
    height: 3vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgb(0,0,0,0.4);
    padding: 1vh;
    margin: 1vh;
    font-size: 100%;
}

.info{
    display: none;
    padding: 1vh 2vh;
}

/* @media screen and (max-width: 450px) {


    img{
     max-width: 25%;
    }

    .section-buttons{
        width: 33vw;
        height: 12vh;
        margin: 1.5vh;
        font-size: 2.75vh;
    }


} */
