*{
    margin: 0%;
    padding: 0%;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.example::-webkit-scrollbar {
    display: none;
  }

body {
    background-image: url("./images/newWoodBackground2.jpg");
    background-size: 100%;
    height: auto;
  }

#main{
    padding: 2vh 0%;
    width: auto;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleContainer{
    position: fixed;
    top: 3vh;
    border-top: .5vh solid antiquewhite;
    border-bottom: .5vh solid antiquewhite;
    padding: 2vh;
    background-color: rgb(0,0,0,0.6);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titleContainer > :first-child{
    width: 30vw;
}

#buttonContainer{
    background-color: rgb(0,0,0,0.6);
    margin: 2vh auto;
    padding: 2vh 0%;
    width: 90vw;
    max-height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.all-buttons{
    border: .5vh outset black;
    background-color: rgb(0,0,0);
    font-size: 2.5vh;
    width: 80vw;
    margin: 1vh auto;
    padding: 2.25vh 2%;
    /* border-radius: 5%; */
}

.section-buttons{
    width: 38vw;
    height: 10vh;
    margin: 1vh;
    font-size: 2.75vh;  
}

.section-buttons:last-child {
    width: 90%;
}


#backButtonDiv{
    display: flex;
    position: fixed;
    bottom: 2vh;
}

.back-buttons{
    margin: .5vh;
    width: 46vw;
    height: 10vh;
    padding: 0 10%;
}

.info-section{
    margin: 0;
    width: 85%;
}

#photoDiv{
    display: flex;
    justify-content: center;
    border: 0;
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 35%;
    margin: 0;
    padding: 0%;
}

img{
    margin: 5% auto 0 auto;
    max-width: 100%;
    max-height: 90%;
}

#titleDiv{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25vh inset black;
    background-color: rgb(0,0,0,0.6);
    padding: 1vh;
    font-size: 60%;
}

#infoDiv{
    height: 26vh;
    overflow: scroll;
    overflow-x: hidden;
}

.sections{
    height: 3vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgb(0,0,0,0.4);
    padding: 1vh;
    margin: 1vh;
    font-size: 100%;
}

.info{
    display: none;
    padding: 1vh 2vh;
}

text{
    display: none;
}

li{
    padding: 0% 2vw;
    list-style: none;
}


@media screen and (orientation: landscape) {
   #main{
    display: none;
   }
  }