*{
    margin: 0%;
    padding: 0%;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url("./images/newWoodBackground2.jpg");
    background-size: 100%;
    height: auto;
  }

#main{
    padding: 4vh 0%;
    width: auto;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    border: .25vh inset black;
    background-color: rgb(0,0,0,0.6);
    padding: 1vh 4vw;
    width: 80vw;
    text-align: center;
}

#buttonContainer{
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    padding: 2vh 0%;
    width: 90vw;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.all-buttons{
    border: .5vh outset black;
    background-color: rgb(0,0,0);
    font-size: 2.5vh;
    width: 70vw;
    margin: 1vh auto;
    padding: 2.25vh 0%;
}

.section-buttons{
    width: 25vw;
    height: 20vh;
    margin: 1.5vh;
    font-size: 3.5vh;
}

#backButtonDiv{
    display: flex;
}

.back-buttons{
    margin: 2vh;
    width: 40vw;
}

.info-section{
    border: 2px solid red;
    padding: 2vh;
    margin: auto;
    width: 85%;
}

#photoDiv{
    height: 25vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

img{
    max-width: 12%;
    margin: auto;
}

#titleDiv{
    height: 3vh;
}

#infoDiv{
    height: 35vh;
}